<h1> Add a new photo </h1>

<form action="/photos/create_photo">

  <p>
    <label for="url"> Image URL </label>
    <input name = "the_source" id = "url" type = "text">
  </p>
  <p>
    <label for="caption"> Caption </label>
    <input name = "the_caption" id = "caption" type = "text">
  </p>

  <button> Create Photo </button>
</form>
