<p>
  <%= @photo.caption %>
</p>
<p>
  <img src ="<%= @photo.source %>" >
</p>

<p>
  Created at: <%= @photo.created_at %>
</p>
<p>
  Updated at: <%= @photo.updated_at %>
</p>


<a href="/photos/"> Back to All Photos </a>
